In [3]:
import pandas as pd

# Load the training dataset
ctr_df = pd.read_csv('../data/train_dataset_full.csv')

# Display first few rows and basic info
print("Dataset shape:", ctr_df.shape)
print("\nFirst few rows:")
display(ctr_df.head())
print("\nDataset info:")
ctr_df.info()

Dataset shape: (389163, 15)

First few rows:

,session_id,DateTime,user_id,product,campaign_id,webpage_id,product_category_1,product_category_2,user_group_id,gender,age_level,user_depth,city_development_index,var_1,is_click
0,98528.0,2017-07-04 16:42,7716.0,C,405490.0,60305.0,3.0,NaN,3.0,Male,3.0,3.0,NaN,1.0,1.0
1,589714.0,2017-07-07 07:40,1035283.0,I,118601.0,28529.0,4.0,82527.0,10.0,Female,4.0,3.0,3.0,1.0,0.0
2,478652.0,2017-07-07 20:42,65994.0,H,359520.0,13787.0,4.0,NaN,4.0,Male,4.0,3.0,2.0,0.0,0.0
3,34536.0,2017-07-05 15:05,75976.0,H,405490.0,60305.0,3.0,NaN,3.0,Male,3.0,3.0,3.0,0.0,0.0
4,71863.0,2017-07-06 20:11,987498.0,C,405490.0,60305.0,3.0,NaN,2.0,Male,2.0,3.0,2.0,0.0,0.0

Dataset info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 389163 entries, 0 to 389162
Data columns (total 15 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   session_id              384997 non-null  float64
 1   DateTime                385054 non-null  object
 2   user_id                 385055 non-null  float64
 3   product                 384989 non-null  object
 4   campaign_id             384975 non-null  float64
 5   webpage_id              385006 non-null  float64
 6   product_category_1      384962 non-null  float64
 7   product_category_2      80928 non-null   float64
 8   user_group_id           369844 non-null  float64
 9   gender                  369839 non-null  object
 10  age_level               369854 non-null  float64
 11  user_depth              369841 non-null  float64
 12  city_development_index  281026 non-null  float64
 13  var_1                   385002 non-null  float64
 14  is_click                385031 non-null  float64
dtypes: float64(12), object(3)
memory usage: 44.5+ MB

In [4]:
ctr_df

,session_id,DateTime,user_id,product,campaign_id,webpage_id,product_category_1,product_category_2,user_group_id,gender,age_level,user_depth,city_development_index,var_1,is_click
0,98528.0,2017-07-04 16:42,7716.0,C,405490.0,60305.0,3.0,NaN,3.0,Male,3.0,3.0,NaN,1.0,1.0
1,589714.0,2017-07-07 07:40,1035283.0,I,118601.0,28529.0,4.0,82527.0,10.0,Female,4.0,3.0,3.0,1.0,0.0
2,478652.0,2017-07-07 20:42,65994.0,H,359520.0,13787.0,4.0,NaN,4.0,Male,4.0,3.0,2.0,0.0,0.0
3,34536.0,2017-07-05 15:05,75976.0,H,405490.0,60305.0,3.0,NaN,3.0,Male,3.0,3.0,3.0,0.0,0.0
4,71863.0,2017-07-06 20:11,987498.0,C,405490.0,60305.0,3.0,NaN,2.0,Male,2.0,3.0,2.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
389158,464382.0,2017-07-02 08:03,927351.0,I,359520.0,13787.0,3.0,NaN,2.0,Male,2.0,3.0,NaN,1.0,0.0
389159,446419.0,2017-07-04 21:14,698480.0,H,360936.0,13787.0,3.0,NaN,3.0,Male,3.0,3.0,1.0,1.0,0.0
389160,218568.0,2017-07-06 23:30,165101.0,I,118601.0,28529.0,4.0,82527.0,2.0,Male,2.0,3.0,NaN,1.0,0.0
389161,258090.0,2017-07-02 16:35,2179.0,I,396664.0,51181.0,1.0,NaN,2.0,Male,2.0,3.0,4.0,0.0,0.0
389162,346235.0,2017-07-03 20:57,744441.0,H,414149.0,45962.0,5.0,NaN,3.0,Male,3.0,3.0,4.0,0.0,1.0

### `clean_df`

#### clean the data

In [5]:
# Remove rows where both session_id and DateTime are missing
clean_df = ctr_df.dropna(subset=['session_id', 'DateTime'], how='all')

# Remove duplicates
clean_df = clean_df.drop_duplicates()

# Some columns have very few missing values (less than 100), while others have many missing values.
# We only want to remove rows that have missing values in the columns where missing data is rare,
# as these might be errors in data collection
low_missing_columns = [
    'session_id', 'DateTime', 'user_id', 'product', 
    'campaign_id', 'webpage_id', 'product_category_1', 'var_1', 'is_click'
]
clean_df = clean_df.dropna(subset=low_missing_columns)

In [6]:
clean_df

,session_id,DateTime,user_id,product,campaign_id,webpage_id,product_category_1,product_category_2,user_group_id,gender,age_level,user_depth,city_development_index,var_1,is_click
0,98528.0,2017-07-04 16:42,7716.0,C,405490.0,60305.0,3.0,NaN,3.0,Male,3.0,3.0,NaN,1.0,1.0
1,589714.0,2017-07-07 07:40,1035283.0,I,118601.0,28529.0,4.0,82527.0,10.0,Female,4.0,3.0,3.0,1.0,0.0
2,478652.0,2017-07-07 20:42,65994.0,H,359520.0,13787.0,4.0,NaN,4.0,Male,4.0,3.0,2.0,0.0,0.0
3,34536.0,2017-07-05 15:05,75976.0,H,405490.0,60305.0,3.0,NaN,3.0,Male,3.0,3.0,3.0,0.0,0.0
4,71863.0,2017-07-06 20:11,987498.0,C,405490.0,60305.0,3.0,NaN,2.0,Male,2.0,3.0,2.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370627,255315.0,2017-07-05 11:16,649732.0,I,396664.0,51181.0,1.0,NaN,5.0,Male,5.0,2.0,NaN,0.0,0.0
370628,198717.0,2017-07-06 16:32,449081.0,I,118601.0,28529.0,4.0,82527.0,2.0,Male,2.0,3.0,3.0,0.0,0.0
370629,46593.0,2017-07-03 15:58,382258.0,C,405490.0,60305.0,3.0,NaN,2.0,Male,2.0,3.0,NaN,1.0,0.0
370630,317516.0,2017-07-03 19:34,367796.0,H,359520.0,13787.0,4.0,NaN,3.0,Male,3.0,3.0,1.0,1.0,0.0
370631,15927.0,2017-07-03 13:33,1129457.0,F,405490.0,60305.0,3.0,NaN,3.0,Male,3.0,3.0,3.0,0.0,0.0

#### feature engineering

In [7]:
import numpy as np

def preprocess_features(df):
    
    # Make a copy to avoid modifying the original dataframe
    processed_df = df.copy()
    
    # Convert DateTime column to datetime type and extract hour
    processed_df['DateTime'] = pd.to_datetime(processed_df['DateTime'])
    # Create cyclical hour features
    processed_df['hour_sin'] = np.sin(2 * np.pi * processed_df['DateTime'].dt.hour/24)
    processed_df['hour_cos'] = np.cos(2 * np.pi * processed_df['DateTime'].dt.hour/24)
    # Remove DateTime column since we've extracted the hour features
    processed_df = processed_df.drop('DateTime', axis=1)

    # One-hot encode the product column
    product_dummies = pd.get_dummies(processed_df['product'], prefix='product')
    # Add the one-hot encoded columns to the dataframe
    processed_df = pd.concat([processed_df, product_dummies], axis=1)
    # Drop the original product column
    processed_df = processed_df.drop('product', axis=1)

    # One-hot encode the gender column
    gender_dummies = pd.get_dummies(processed_df['gender'], prefix='gender')
    # Add the one-hot encoded columns to the dataframe
    processed_df = pd.concat([processed_df, gender_dummies], axis=1)
    # Drop the original gender column
    processed_df = processed_df.drop('gender', axis=1)

    # Drop session_id and user_id as they don't provide meaningful information for prediction
    processed_df = processed_df.drop(['session_id', 'user_id'], axis=1)
    
    return processed_df

# Apply preprocessing to clean_df
clean_df = preprocess_features(clean_df)

In [8]:
clean_df

,campaign_id,webpage_id,product_category_1,product_category_2,user_group_id,age_level,user_depth,city_development_index,var_1,is_click,...,product_C,product_D,product_E,product_F,product_G,product_H,product_I,product_J,gender_Female,gender_Male
0,405490.0,60305.0,3.0,NaN,3.0,3.0,3.0,NaN,1.0,1.0,...,True,False,False,False,False,False,False,False,False,True
1,118601.0,28529.0,4.0,82527.0,10.0,4.0,3.0,3.0,1.0,0.0,...,False,False,False,False,False,False,True,False,True,False
2,359520.0,13787.0,4.0,NaN,4.0,4.0,3.0,2.0,0.0,0.0,...,False,False,False,False,False,True,False,False,False,True
3,405490.0,60305.0,3.0,NaN,3.0,3.0,3.0,3.0,0.0,0.0,...,False,False,False,False,False,True,False,False,False,True
4,405490.0,60305.0,3.0,NaN,2.0,2.0,3.0,2.0,0.0,0.0,...,True,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370627,396664.0,51181.0,1.0,NaN,5.0,5.0,2.0,NaN,0.0,0.0,...,False,False,False,False,False,False,True,False,False,True
370628,118601.0,28529.0,4.0,82527.0,2.0,2.0,3.0,3.0,0.0,0.0,...,False,False,False,False,False,False,True,False,False,True
370629,405490.0,60305.0,3.0,NaN,2.0,2.0,3.0,NaN,1.0,0.0,...,True,False,False,False,False,False,False,False,False,True
370630,359520.0,13787.0,4.0,NaN,3.0,3.0,3.0,1.0,1.0,0.0,...,False,False,False,False,False,True,False,False,False,True
370631,405490.0,60305.0,3.0,NaN,3.0,3.0,3.0,3.0,0.0,0.0,...,False,False,False,True,False,False,False,False,False,True

In [9]:
only_is_click = clean_df[clean_df['is_click'] == 1]

In [10]:
only_not_click = clean_df[clean_df['is_click'] == 0]

#### balance the data

In [11]:
def create_balanced_datasets(only_is_click, only_not_click, num_balanced_datasets=5, ratio_of_not_click_samples=2):
    """
    Create multiple balanced datasets by sampling from non-clicks.
    
    Args:
        only_is_click (pd.DataFrame): DataFrame containing only click data
        only_not_click (pd.DataFrame): DataFrame containing only non-click data
        n_iterations (int): Number of balanced datasets to create
        
    Returns:
        list: List of balanced DataFrames
    """
    balanced_datasets = []
    n_not_click_samples = len(only_is_click) * ratio_of_not_click_samples

    for i in range(num_balanced_datasets):
        # Sample from non-clicks with replacement
        sampled_not_click = only_not_click.sample(n=n_not_click_samples, random_state=i)
        
        # Combine with clicks
        balanced = pd.concat([only_is_click, sampled_not_click], ignore_index=True)
        
        # Shuffle the dataset
        balanced = balanced.sample(frac=1, random_state=i).reset_index(drop=True)
        
        balanced_datasets.append(balanced)

    # Print information about the balanced datasets
    print(f"Number of clicks (original): {len(only_is_click)}")
    print(f"Number of non-clicks (original): {len(only_not_click)}")
    print(f"\nCreated {num_balanced_datasets} \"balanced\" datasets:")
    print(f"- Clicks: {len(only_is_click)}")
    print(f"- Non-clicks sampled: {n_not_click_samples}")
    print(f"- Total samples per dataset: {len(only_is_click) + n_not_click_samples}")
    print(f"- Ratio of non-clicks to clicks: {ratio_of_not_click_samples}:1")
        
    return balanced_datasets

# Create multiple balanced datasets
balanced_datasets = create_balanced_datasets(only_is_click, only_not_click, 2, 1)

Number of clicks (original): 24598
Number of non-clicks (original): 338939

Created 2 "balanced" datasets:
- Clicks: 24598
- Non-clicks sampled: 24598
- Total samples per dataset: 49196
- Ratio of non-clicks to clicks: 1:1

#### train the model

In [13]:
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split, KFold
from sklearn.metrics import classification_report, roc_auc_score, f1_score, confusion_matrix
import numpy as np

# Create a common test set from the original clean_df
X = clean_df.drop('is_click', axis=1)
y = clean_df['is_click']
X_train_full, X_test, y_train_full, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

models = []
predictions_prob = []

for i, balanced_df in enumerate(balanced_datasets):
    print(f"Training model {i+1}/{len(balanced_datasets)}")
    
    y_bal = balanced_df['is_click']
    X_bal = balanced_df.drop('is_click', axis=1)
    
    model = XGBClassifier(
        n_estimators=100,
        max_depth=10,
        learning_rate=0.1,
        subsample=0.8,
        colsample_bytree=0.8,
        eval_metric='logloss',
        random_state=42
    )
    
    kf = KFold(n_splits=5, shuffle=True, random_state=42)
    f1_scores = []
    auc_scores = []
    
    for train_idx, val_idx in kf.split(X_bal):
        X_train, X_val = X_bal.iloc[train_idx], X_bal.iloc[val_idx]
        y_train, y_val = y_bal.iloc[train_idx], y_bal.iloc[val_idx]
        
        model.fit(X_train, y_train)
        y_pred = model.predict(X_val)
        y_pred_prob = model.predict_proba(X_val)[:, 1]
        
        f1_scores.append(f1_score(y_val, y_pred))
        auc_scores.append(roc_auc_score(y_val, y_pred_prob))
    
    print(f"Cross validation F1 scores: {np.mean(f1_scores):.3f} (+/- {np.std(f1_scores):.3f})")
    print(f"Cross validation AUC scores: {np.mean(auc_scores):.3f} (+/- {np.std(auc_scores):.3f})")
    
    # Fit on full balanced dataset
    model.fit(X_bal, y_bal)
    y_pred_prob = model.predict_proba(X_test)[:, 1]
    predictions_prob.append(y_pred_prob)
    models.append(model)

# Combine predictions by averaging probabilities
final_predictions_prob = np.mean(predictions_prob, axis=0)
final_predictions = (final_predictions_prob >= 0.5).astype(int)

# Evaluate the ensemble model
print("\nEnsemble Model Performance:")
print("\nClassification Report:")
print(classification_report(y_test, final_predictions))
print("\nROC AUC Score:", roc_auc_score(y_test, final_predictions_prob))
print("\nF1 Score:", f1_score(y_test, final_predictions))

# Print confusion matrix
conf_matrix = confusion_matrix(y_test, final_predictions)
print("\nConfusion Matrix:")
print(conf_matrix)

final_ensemble = {
    'models': models,
    'feature_columns': X.columns,
    'threshold': 0.5
}

Training model 1/2
Cross validation F1 scores: 0.551 (+/- 0.005)
Cross validation AUC scores: 0.563 (+/- 0.001)
Training model 2/2
Cross validation F1 scores: 0.552 (+/- 0.007)
Cross validation AUC scores: 0.564 (+/- 0.005)

Ensemble Model Performance:

Classification Report:
              precision    recall  f1-score   support

         0.0       0.97      0.56      0.71     67753
         1.0       0.11      0.73      0.19      4955

    accuracy                           0.58     72708
   macro avg       0.54      0.65      0.45     72708
weighted avg       0.91      0.58      0.68     72708


ROC AUC Score: 0.7050566041490144

F1 Score: 0.18937304651590367

Confusion Matrix:
[[38240 29513]
 [ 1350  3605]]

In [26]:
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split, KFold
from sklearn.metrics import classification_report, roc_auc_score, f1_score, confusion_matrix
import numpy as np
import random

X = clean_df.drop('is_click', axis=1)
y = clean_df['is_click']
_, X_test, _, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

models = []
predictions_prob = []

# Hyperparameter grid
param_dist = {
    'max_depth': [3, 5, 7, 10],
    'min_child_weight': [1, 3, 5],
    'gamma': [0, 0.1, 0.3, 0.5],
    'subsample': [0.6, 0.8, 1.0],
    'colsample_bytree': [0.6, 0.8, 1.0],
    'learning_rate': [0.01, 0.05, 0.1],
    'n_estimators': [50, 100, 200],
    'reg_alpha': [0, 0.01, 0.1],
    'reg_lambda': [1, 1.5, 2]
}

n_iter = 20  # number of random combinations

for i, balanced_df in enumerate(balanced_datasets):
    print(f"Training model {i+1}/{len(balanced_datasets)}")
    
    y_bal = balanced_df['is_click']
    X_bal = balanced_df.drop('is_click', axis=1)
    
    kf = KFold(n_splits=5, shuffle=True, random_state=42)
    best_params = None
    best_f1 = -np.inf
    
    # Manual random search
    for _ in range(n_iter):
        params = {key: random.choice(values) for key, values in param_dist.items()}
        f1_scores = []
        for train_idx, val_idx in kf.split(X_bal):
            X_train, X_val = X_bal.iloc[train_idx], X_bal.iloc[val_idx]
            y_train, y_val = y_bal.iloc[train_idx], y_bal.iloc[val_idx]
            
            model = XGBClassifier(**params, eval_metric='logloss', random_state=42)
            model.fit(X_train, y_train)
            y_pred = model.predict(X_val)
            f1_scores.append(f1_score(y_val, y_pred))
        avg_f1 = np.mean(f1_scores)
        if avg_f1 > best_f1:
            best_f1 = avg_f1
            best_params = params

    print(f"Best params for dataset {i+1}: {best_params}")
    print(f"Best CV F1 score for dataset {i+1}: {best_f1:.3f}")
    
    # Train final model on full balanced dataset with best parameters
    best_model = XGBClassifier(**best_params, eval_metric='logloss', random_state=42)
    best_model.fit(X_bal, y_bal)
    y_pred_prob = best_model.predict_proba(X_test)[:, 1]
    predictions_prob.append(y_pred_prob)
    models.append(best_model)

# Ensemble predictions by averaging
final_predictions_prob = np.mean(predictions_prob, axis=0)
final_predictions = (final_predictions_prob >= 0.5).astype(int)

print("\nEnsemble Model Performance:")
print("\nClassification Report:")
print(classification_report(y_test, final_predictions))
print("\nROC AUC Score:", roc_auc_score(y_test, final_predictions_prob))
print("\nF1 Score:", f1_score(y_test, final_predictions))
print("\nConfusion Matrix:")
print(confusion_matrix(y_test, final_predictions))

final_ensemble = {
    'models': models,
    'feature_columns': X.columns,
    'threshold': 0.5
}

Training model 1/2
Best params for dataset 1: {'max_depth': 10, 'min_child_weight': 5, 'gamma': 0.1, 'subsample': 1.0, 'colsample_bytree': 0.6, 'learning_rate': 0.05, 'n_estimators': 50, 'reg_alpha': 0.1, 'reg_lambda': 2}
Best CV F1 score for dataset 1: 0.552
Training model 2/2
Best params for dataset 2: {'max_depth': 7, 'min_child_weight': 5, 'gamma': 0, 'subsample': 0.6, 'colsample_bytree': 0.8, 'learning_rate': 0.1, 'n_estimators': 200, 'reg_alpha': 0, 'reg_lambda': 2}
Best CV F1 score for dataset 2: 0.549

Ensemble Model Performance:

Classification Report:
              precision    recall  f1-score   support

         0.0       0.96      0.58      0.72     67753
         1.0       0.10      0.63      0.17      4955

    accuracy                           0.58     72708
   macro avg       0.53      0.61      0.45     72708
weighted avg       0.90      0.58      0.68     72708


ROC AUC Score: 0.6469060861138585

F1 Score: 0.17113497854663715

Confusion Matrix:
[[39248 28505]
 [ 1824  3131]]

In [27]:
# import optuna
# import numpy as np
# from xgboost import XGBClassifier
# from sklearn.model_selection import train_test_split, KFold
# from sklearn.metrics import f1_score

# # Disable Optuna logs
# optuna.logging.set_verbosity(optuna.logging.WARNING)

# # Train/test split
# X = clean_df.drop('is_click', axis=1)
# y = clean_df['is_click']
# _, X_test, _, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# # Select first balanced dataset for hyperparameter tuning
# balanced_df = balanced_datasets[0]
# y_bal = balanced_df['is_click']
# X_bal = balanced_df.drop('is_click', axis=1)

# # Optuna objective function
# def objective(trial):
#     params = {
#         'max_depth': trial.suggest_int('max_depth', 3, 10),
#         'min_child_weight': trial.suggest_int('min_child_weight', 1, 5),
#         'gamma': trial.suggest_float('gamma', 0.0, 0.5),
#         'subsample': trial.suggest_float('subsample', 0.6, 1.0),
#         'colsample_bytree': trial.suggest_float('colsample_bytree', 0.6, 1.0),
#         'learning_rate': trial.suggest_float('learning_rate', 0.01, 0.1),
#         'n_estimators': trial.suggest_int('n_estimators', 50, 200),
#         'reg_alpha': trial.suggest_float('reg_alpha', 0.0, 0.1),
#         'reg_lambda': trial.suggest_float('reg_lambda', 1.0, 2.0),
#         'eval_metric': 'logloss',
#         'random_state': 42
#     }
    
#     kf = KFold(n_splits=5, shuffle=True, random_state=42)
#     f1_scores = []

#     for train_idx, val_idx in kf.split(X_bal):
#         X_train, X_val = X_bal.iloc[train_idx], X_bal.iloc[val_idx]
#         y_train, y_val = y_bal.iloc[train_idx], y_bal.iloc[val_idx]

#         model = XGBClassifier(**params)
#         model.fit(X_train, y_train)
#         y_pred = model.predict(X_val)
#         f1_scores.append(f1_score(y_val, y_pred))

#     return np.mean(f1_scores)

# # Run Optuna optimization
# study = optuna.create_study(direction='maximize')
# study.optimize(objective, n_trials=20)

# # Best parameters found
# best_params = study.best_params
# print(f"Best hyperparameters: {best_params}")

# # Train models on all balanced datasets with best params
# models = []
# predictions_prob = []

# for i, balanced_df in enumerate(balanced_datasets):
#     print(f"Training model {i+1}/{len(balanced_datasets)}")
    
#     y_bal = balanced_df['is_click']
#     X_bal = balanced_df.drop('is_click', axis=1)

#     best_model = XGBClassifier(**best_params, eval_metric='logloss', random_state=42)
#     best_model.fit(X_bal, y_bal)
    
#     y_pred_prob = best_model.predict_proba(X_test)[:, 1]
#     predictions_prob.append(y_pred_prob)
#     models.append(best_model)

# # Ensemble predictions
# final_predictions_prob = np.mean(predictions_prob, axis=0)
# threshold = 0.55
# final_predictions = (final_predictions_prob >= threshold).astype(int)

# # Evaluate model
# from sklearn.metrics import classification_report, roc_auc_score, confusion_matrix

# print("\nEnsemble Model Performance:")
# print("\nClassification Report:")
# print(classification_report(y_test, final_predictions))
# print("\nROC AUC Score:", roc_auc_score(y_test, final_predictions_prob))
# print("\nF1 Score:", f1_score(y_test, final_predictions))
# print("\nConfusion Matrix:")
# print(confusion_matrix(y_test, final_predictions))

# final_ensemble = {
#     'models': models,
#     'feature_columns': X.columns,
#     'threshold': threshold
# }

In [28]:
def predict_with_ensemble(X_new, ensemble):
    
    # Ensure X_new has the same columns as training data
    X_new = X_new[ensemble['feature_columns']]
    
    # Get predictions from all models
    predictions_prob = np.mean([
        model.predict_proba(X_new)[:, 1] 
        for model in ensemble['models']
    ], axis=0)
    
    # Convert to binary predictions
    predictions = (predictions_prob >= ensemble['threshold']).astype(int)
    
    return predictions, predictions_prob

#### model evaluation on training data

In [29]:
def evaluate_model_performance(X, y):
    
    test_df_processed = preprocess_features(X)  

    test_predictions, test_predictions_prob = predict_with_ensemble(test_df_processed, final_ensemble)

    print("\nTest Set Performance:")
    print("\nClassification Report:")
    print(classification_report(y, test_predictions))
    print("\nF1 Score:", f1_score(y, test_predictions))

    conf_matrix = confusion_matrix(y, test_predictions)
    print("\nConfusion Matrix:")
    print(conf_matrix)
    
    return test_predictions, test_predictions_prob, y

In [30]:
test_X = pd.read_csv('../data/train_dataset_full.csv')
test_X = test_X.dropna(subset=['is_click'])
test_y = test_X['is_click']

test_predictions, test_predictions_prob, y_true = evaluate_model_performance(test_X, test_y)

Test Set Performance:

Classification Report:
              precision    recall  f1-score   support

         0.0       0.96      0.58      0.72    359012
         1.0       0.10      0.63      0.17     26019

    accuracy                           0.58    385031
   macro avg       0.53      0.60      0.44    385031
weighted avg       0.90      0.58      0.68    385031


F1 Score: 0.1690438620917257

Confusion Matrix:
[[207496 151516]
 [  9628  16391]]

In [31]:
test_predictions

array([1, 0, 0, ..., 0, 1, 1], shape=(385031,))

In [32]:
test_X = pd.read_csv('../data/X_test_1st.csv')
test_X = test_X.iloc[1:]

test_y = pd.read_csv('../data/y_test_1st.csv')

test_predictions, test_predictions_prob, y_true = evaluate_model_performance(test_X, test_y)

Test Set Performance:

Classification Report:
              precision    recall  f1-score   support

           0       0.95      0.59      0.73     56152
           1       0.09      0.53      0.15      4075

    accuracy                           0.59     60227
   macro avg       0.52      0.56      0.44     60227
weighted avg       0.89      0.59      0.69     60227


F1 Score: 0.14712328767123287

Confusion Matrix:
[[33175 22977]
 [ 1927  2148]]

In [33]:
# # Preprocess test data using the same feature engineering as training data
# test_df_encoded = pd.get_dummies(test_df, columns=['product', 'gender'])

# # Ensure test data has same columns as training data
# missing_cols = set(X.columns) - set(test_df_encoded.columns)
# for col in missing_cols:
#     test_df_encoded[col] = 0
# test_df_encoded = test_df_encoded[X.columns]

# # Make predictions using the ensemble model
# test_predictions_prob = np.mean([model.predict_proba(test_df_encoded)[:, 1] for model in models], axis=0)
# test_predictions = (test_predictions_prob >= 0.5).astype(int)

# # Create submission dataframe
# submission = pd.DataFrame({
#     'id': range(len(test_predictions)),
#     'click': test_predictions
# })

# # Save predictions
# submission.to_csv('../data/predictions.csv', index=False)

In [34]:
import platform
print(f"Platform architecture: {platform.architecture()}")

Platform architecture: ('64bit', '')